<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Graphics</key>
        <dict>
            <key>1</key>
            <string>C:\Users\unicef\Documents\Studium\SS 16\Medienwissenschaft\Scrum\keeping-up-with-the-apocalypse\Keeping Up With The Apocalypse.materials\Cover.jpg</string>
        </dict>
    </dict>
</plist>
